.switcher {
  display: flex;
  height: 1.3rem;
  padding: 0.25rem;
  margin-right: 0.8rem;
  background: #fff;
  border-radius: 0.125rem;
  width: 12.6rem;
  border-radius: 1.3rem;
  border: solid 0.0625rem #ddd;
  position: relative;
}

.switcher-input {
  display: none;
}

.switcher-label {
  float: left;
  width: 50%;
  font-size: 0.75rem;
  line-height: 1.3rem;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.switcher-toggle {
  position: absolute;
  float: left;
  height: 1.3rem;
  width: 33.33%;
  font-size: 0.75rem;
  line-height: 1.3rem;
  cursor: pointer;
  background-color: #3366cc;
  border-radius: 1.3rem;
  left: 0.3125rem;
  top: 0.25rem;
  transition: left 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.switcher-input:checked + .switcher-label {
  color: #fff;
}

.switcher-input--both:checked ~ .switcher-toggle {
  left: 33.3%;
}
.switcher-input--api:checked ~ .switcher-toggle {
  left: 64%;
}
